@charset "UTF-8";

/*
  Paleta de cores
  Verde: #49a09d
  Lilás: #5f2c82
  #c0bc7e
  #d4562f9c
*/

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  background-color: #c0bc7e;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  background-color: white;
  width: 274px;
  height: 515px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
}

section#login > div#imagem {
  display: block;
  background: #c0bc7e url(../imagens/cropped-1280-1484-481903.png) no-repeat;
  background-size: cover;
  background-position: left top;
  height: 200px;

}

section#login > div#formulario {
  display: block;
  padding: 10px;

}

div#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#formulario > p {
  font-size: 0.8em;
}

form > div.campo {
  background-color: #fc653785;
  display: block;
  height: 35px;
  border-radius: 5px;
  margin: 5px 0px;
}

div.campo > label {
  display: none;
}

form > input[type=submit] {
  display: block;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  height: 35px;
  background-color: #d4562f9c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form > input[type=submit]:hover {
  background-color: #7c2e16e0;
}

form > a.botao {
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 35px;
  padding-top: 5px;
  margin-top: 5px;
  background-color: #ffffff85;
  color: #772f19;
  border: 1px solid #d4562f9c;
  border-radius: 7px;
  text-decoration: none;
}

form > a.botao:hover {
  background-color: #fc653785;

}

form > a.botao > span {
  font-size: 0.8em;
}

